<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>

<h3>Department</h3>

<form>
    <label>Id: 7743294320923</label>
    <br>

    <label for="department_name">Name</label>
    <input id="department_name" value="First" />
    <br>

    <button type="submit">Submit</button>
</form>
<button onclick="">Delete</button>

<h4>Department`s dedicated employees:</h4>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12341</td>
        <td>Employee name</td>
        <td>1998-08-12</td>
        <td>
            <a href="employee.html" title="Edit employee"><span>Edit</span></a>
            <a href="employees.html" title="Delete employee"><span>Delete</span></a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>