<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Department</title>
</head>
<body>

<a href="./..">Go back</a>

<h3>Department</h3>

<form action="." th:object="${department}" th:action="@{${#httpServletRequest.servletPath}}" th:method="@{post}">

    <label for="department_id">Id: </label>
    <label id="department_id" th:field="*{id}" th:text="${department.id}"></label>
    <br>

    <label for="department_name">Name</label>
    <input required id="department_name" th:field="*{name}"  />
    <br>

    <button type="submit">Submit</button>
</form>

<form th:if="${isDeletable} eq 'true'" method="get" th:action="@{|/departments/${department.id}/delete|}">
    <button type="submit">Delete</button>
</form>
<label th:if="${isDeletable} eq 'false'">Can't be deleted, still related employees remain</label>


<h4 th:if="${isDeletable} eq 'false'">Department`s dedicated employees:</h4>

<table th:if="${isDeletable} eq 'false'">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Birthdate</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee : ${relatedEmployees}">
        <td th:text="${employee.id}"></td>
        <td th:text="${employee.name}"></td>
        <td th:text="${#dates.format(employee.dateOfBirth, 'dd-MM-yyyy')}"></td>
        <td>
            <a href="employee.html" title="Edit employee" th:href="@{|/employees/${employee.id}|}"><span>Edit</span></a>
            <a href="employees.html" title="Delete employee" th:href="@{|/employees/${employee.id}/delete|}"><span>Delete</span></a>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>