<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Departments</title>
</head>
<body>

<h3>Departments</h3>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>7743294320923</td>
    <td>Department`s name</td>
    <td>
      <a href="department.html" title="Edit department"><span>Edit</span></a>
      <a href="departments.html" title="Delete department"><span>Delete</span></a>
    </td>
  </tr>
  </tbody>
</table>
<form action="new_department.html">
  <input type="submit" value="New department" />
</form>
</body>
</html>