<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Departments</title>
</head>
<body>

<a href="./..">Go back</a>

<h3>Departments</h3>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Employees</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="department : ${departments}">
    <td th:text="${department.id}"></td>
    <td th:text="${department.name}"></td>
    <td th:text="${department.employeeCount}"></td>
    <td>
      <a th:href="@{|/departments/${department.id}|}" title="Edit department"><span>Edit</span></a>
      <a  th:if="${department.employeeCount} eq 0" th:href="@{|/departments/${department.id}/delete|}" title="Delete department"><span>Delete</span></a>
    </td>
  </tr>
  </tbody>
</table>
<form method="get" th:action="@{|/departments/new|}">
  <input type="submit" value="New department" />
</form>
</body>
</html>