<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>

<h3>Employees</h3>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Department</th>
        <th>Birthdate</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>12341</td>
        <td>Employee name</td>
        <td>First</td>
        <td>1998-08-12</td>
        <td>
            <a href="employee.html" title="Edit employee"><span>Edit</span></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>