<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create employee</title>
</head>
<body>

<a href="./..">Go back</a>

<h3>New employee</h3>

  <form action="." th:object="${employee}" th:action="@{${#httpServletRequest.servletPath}}" th:method="@{post}">

    <label for="employee_name">Name</label>
    <input required id="employee_name" th:field="*{name}" />
    <br>

    <label for="employee_department_id">Department</label>
    <select required id="employee_department_id" th:field="*{departmentId}">
      <option th:each="department : ${availableDepartments}" th:value="${department.id}" th:text="${department.name}"></option>
    </select>
    <br>

    <label for="employee_salary">Salary:</label>
    <input required id="employee_salary" type="number" min="200" th:field="*{salary}">
    <br>

    <label for="employee_date_of_birth">Birthdate:</label>
    <input required id="employee_date_of_birth" type="date" th:field="*{dateOfBirth}" th:value="${#dates.format(employee.dateOfBirth, 'yyyy-MM-dd')}">
    <br>

    <button th:if="${isDepartmentsAccessible} eq 'true'" type="submit">Submit</button>
  </form>

  <form method="get" th:action="@{|/departments/new|}" th:if="${isDepartmentsAccessible} eq 'false'">
    <label>No departments at all, cannot relate employee.</label>

    <button type="submit">New department</button>
  </form>
</body>
</html>