<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create employee</title>
</head>
<body>

<h3>New employee</h3>

<form action="employees.html">
  <label for="employee_name">Name</label>
  <input id="employee_name" value="Employee name"/>
  <br>

  <label for="employee_department_id">Department</label>
  <select id="employee_department_id">
    <option value="Pilot">First</option>
    <option value="Radio operator">Second</option>
    <option value="Stewardess">Third</option>
  </select>
  <br>

  <label for="employee_salary">Salary:</label>
  <input id="employee_salary" type="number" value="220">
  <br>

  <label for="employee_role">Birthdate:</label>
  <input id="employee_role" type="date" value="1998-08-12">
  <br>

  <button type="submit">Submit</button>
</form>
</body>
</html>